pipeline/incr_etl.json
{
	"name": "incr_etl",
	"properties": {
		"activities": [
			{
				"name": "LookupOldWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Module_6_Source_Dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "LookupNewWatermark",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select max(TransactionDt) as new_watermark from Tickets",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "Module_6_Source_Ticket_Dataset",
						"type": "DatasetReference"
					}
				}
			},
			{
				"name": "IncrementalCopy",
				"type": "Copy",
				"dependsOn": [
					{
						"activity": "LookupOldWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					},
					{
						"activity": "LookupNewWatermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": {
							"value": "select * from Tickets where TransactionDt > '@{activity('LookupOldWatermark').output.firstRow.watermark}' and TransactionDt <= '@{activity('LookupNewWatermark').output.firstRow.new_watermark}'",
							"type": "Expression"
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "AzureSqlSink",
						"preCopyScript": {
							"value": "truncate table stg.cinema_tickets",
							"type": "Expression"
						},
						"writeBehavior": "insert",
						"sqlWriterUseTableLock": false
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"mappings": [
							{
								"source": {
									"name": "CinemaCode",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_code",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "CinemaName",
									"type": "nvarchar"
								},
								"sink": {
									"name": "cinema_name",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "MovieId",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "movie_id",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketCount",
									"type": "int",
									"precision": 10
								},
								"sink": {
									"name": "ticket_count",
									"type": "int",
									"precision": 10
								}
							},
							{
								"source": {
									"name": "TicketPrice",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								},
								"sink": {
									"name": "ticket_price",
									"type": "decimal",
									"scale": 1,
									"precision": 4
								}
							},
							{
								"source": {
									"name": "TransactionId",
									"type": "nvarchar"
								},
								"sink": {
									"name": "transaction_id",
									"type": "nvarchar"
								}
							},
							{
								"source": {
									"name": "TransactionDt",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								},
								"sink": {
									"name": "transaction_date",
									"type": "datetime",
									"scale": 3,
									"precision": 23
								}
							}
						],
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "Module_6_Source_Ticket_Dataset",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "Module_6_Sink_Dataset",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "Update watermark",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "IncrementalCopy",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[update_write_watermark]",
					"storedProcedureParameters": {
						"last_transaction_dt": {
							"value": {
								"value": "@{activity('LookupNewWatermark').output.firstRow.new_watermark}",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"table_name": {
							"value": {
								"value": "@activity('LookupOldWatermark').output.firstRow.table_name",
								"type": "Expression"
							},
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "CinemaTicketsSQLServer",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Populate cinema",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Update watermark",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinema]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "Populate cinema tickets",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "Populate cinema",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCinemaTickets]"
				},
				"linkedServiceName": {
					"referenceName": "SqlServer1",
					"type": "LinkedServiceReference"
				}
			}
		],
		"folder": {
			"name": "module_6"
		},
		"annotations": [],
		"lastPublishTime": "2024-03-12T21:17:37Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}