pipeline/ProcessData.json
{
	"name": "ProcessData",
	"properties": {
		"activities": [
			{
				"name": "PopulateCast",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ForEachFileToTable",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCast]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateCompany",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateCast",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateCompany]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateGenre",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateCompany",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateGenre]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateMovies",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateGenre",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovies]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateMovieStatus",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateMovies",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMovieStatus]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateMoviesCastMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateMovieStatus",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCastMap]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateMoviesCompanyMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateMoviesCastMap",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesCompanyMap]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateMoviesGenreMap",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateMoviesCompanyMap",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulateMoviesGenreMap]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "PopulateRatings",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "PopulateMoviesGenreMap",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[spPopulatetRatings]"
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabaseMovie",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "LookupMapping",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "select * from stg.mapping where is_active = 1",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "MappingTable",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEachFileToTable",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LookupMapping",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LookupMapping').output.value",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Copy",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "DelimitedTextSource",
									"additionalColumns": [
										{
											"name": "pipelineId",
											"value": {
												"value": "@pipeline().RunId",
												"type": "Expression"
											}
										},
										{
											"name": "source_filename",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"wildcardFolderPath": "movies",
										"wildcardFileName": {
											"value": "@item().src_filename",
											"type": "Expression"
										},
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "DelimitedTextReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "@{concat('truncate table ', 'stg.', item().trg_table)}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"disableMetricsCollection": false
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "SourceForProcessCSVFromADLS",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "DestinationTable",
									"type": "DatasetReference",
									"parameters": {
										"table": {
											"value": "@item().trg_table",
											"type": "Expression"
										}
									}
								}
							]
						}
					]
				}
			}
		],
		"annotations": [],
		"lastPublishTime": "2024-03-06T21:54:29Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}